/*Styles for select2 childrens change responsible */
/* Custom styles for select2 */
#changeeResponsible.select2 {
    border-color: #F97316 !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
}

#changeeResponsible.select2:focus {
    border-color: #F97316 !important;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) !important;
}

/* Custom container styles */
.select2-container--default .select2-selection--single {
    border-radius: 8px !important;
    border-color: #F97316 !important;
    height: 24px !important;
    padding: 8px 12px !important;
    height: 40px !important;
}

.select2-container--default .select2-selection__rendered {
    color: black !important;
}
.select2-container--default .select2-selection__placeholder {
    color: black !important;
}

.select2-results .select2-results__options .select2-results__option--highlighted{
    background-color: #F97316 !important;
    color: white !important;
}

.select2-search__field {
    border-radius: 8px !important;
    border-color: #F97316 !important;
    padding: 8px 12px !important;
    height: 40px !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #F97316 !important;
}